<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товар</title>
</head>
<body>
<a data-th-href="@{/customer/products/list}">К списку товаров</a>
<div>
    <h1 data-th-text="${product.title}"></h1>
    <p data-th-text="${product.details}"></p>
</div>
<div data-th-if="${errors}">
    <ul>
        <li data-th-each="error : ${errors}">
            <p data-th-text="error"></p>
        </li>
    </ul>
</div>
<form method="post" data-th-action="@{/customer/products/{productId}/add-to-favourites(productId=${product.id})}"
      data-th-if="${!inFavourite}">
    <button type="submit">Добавить в избранное</button>
</form>
<form method="post" data-th-action="@{/customer/products/{productId}/delete-from-favourites(productId=${product.id})}"
      data-th-if="${inFavourite}">
    <button type="submit">Удалить из избранное</button>
</form>
<h2>Отзывы</h2>
<form method="post" data-th-action="@{/customer/products/{productId}/add-review(productId=${product.id})}">
    <label> <input type="radio" name="rating" value="1">1</label>
    <label> <input type="radio" name="rating" value="2">2</label>
    <label> <input type="radio" name="rating" value="3">3</label>
    <label> <input type="radio" name="rating" value="4">4</label>
    <label> <input type="radio" name="rating" value="5">5</label>
    <br>
    <label><input data-th-text="text" name="review"></label>
    <button type="submit">отправить отзыв</button>
</form>

<ul>
    <li data-th-each="review : ${reviews}">
        <h3>[[${review.rating}]]*</h3>
        <p data-th-text="review.details"></p>
    </li>
</ul>
</body>
</html>